{% extends "layout.html"%}
{% block container %}
<body>
	<div class="jumbotron text-center" style="background-color: #fafafa">
		<h2>Locus Facility Managment System</h2>
		<small>Exclusive to Grey Court School</small>
	</div>
	<style>
		.boarder{border-style: solid;
  				 border-width: 10px;
  				 border-color: white}
	</style>
	<div class="container">
		<div claas="row">
			<div class="col-sm-4 boarder" style="background-color: #fafafa "><P>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</P></div>
			<div class="col-sm-4 boarder" style="background-color: #fafafa "><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p></div>
			<div class="col-sm-4 boarder" style="background-color: #fafafa "><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p></div>
		</div>
	</div>
</body>
{% endblock container %}
