<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Locus Facility Managment</title>
    <style>
      .footer {
      position: bottom;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: ;
      color: black;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default" style="background-color: white">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Locus FMS</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url_for('home') }}" style="background-color: #fafafa"><span class="glyphicon glyphicon-home" style="background-color: #fafafa"></span></a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% block signup %}
          <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          {% endblock signup %}
          {% block login %}
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endblock login %}
        </ul>
       </div>
    </nav>
    <div class="text-center">
      <div class="container">
        {% with messages= get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}"> {{message}} </div>
            {% endfor %}
          {% endif %}
        {% endwith%}
      </div>
    </div>
    {%block container%}{% endblock %}
    <footer class="footer">
      <div class="container">  
          </br>
          </br>
          <div class="footer-copyright text-center py-3">© 2019 Copyright: Locus FMS</div>
      </div>
    </footer>
  </body>

</html>
{% extends "bootstrap/base.html"%}