{% extends "panel-layout.html"%}
{% block container %}
<style type="text/css">
td,tr {
  padding: 10px;
  text-align: center;
  height: 40px;
  border-bottom: 1px solid #ddd;
}

 tr:hover {color:green;
 			font-weight:bold; }
</style>
<body style="background-color: #fafafa ">
<div class="container" >
<p class="col-sm-3"></p>
<table class=" col-sm-2 ">
	<div>
	<tr>
		<th>Facility ID:</th>
		<th>Date:</th>
	</tr>
	</div>
	{% for row in data %}
		<div >
		<tr>
			<td> {{row[0]}}</td>
			<td> {{row[1]}}</td>
		</tr>
		</div>
	{% endfor %}
</table>
<p class="col-sm-2"></p>
<p class="col-sm-2" Id="swap"></p>
</div>
</body>
{% endblock container%}